<!-- <mat-sidenav-container fullscreen >
    <mat-sidenav #left>
        <mat-toolbar>Links</mat-toolbar>
        <mat-nav-list>
            <a mat-list-item href="https://material2-docs-dev.firebaseapp.com/guide/theming#multiple-themes">More info on theming</a>
            <a mat-list-item href="https://stackoverflow.com/questions/47441036/switch-themes-in-angular-material-5">Back to question</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary" class="mat-elevation-z3">
            <button mat-icon-button (click)="left.toggle()"><mat-icon>menu</mat-icon></button> Angular Material 5 App
        </mat-toolbar>
        <div class="basic-container">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container> -->

<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <p>Auto</p>
        <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
        <button (click)="showFiller = !showFiller" mat-raised-button>Toggle</button>
        <mat-nav-list>
            <a mat-list-item href="https://material2-docs-dev.firebaseapp.com/guide/theming#multiple-themes">More info on theming</a>
            <a mat-list-item href="https://stackoverflow.com/questions/47441036/switch-themes-in-angular-material-5">Back to question</a>
        </mat-nav-list>
    </mat-drawer>

    <div class="example-sidenav-content">
        <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
        </button>
        <router-outlet></router-outlet>
    </div>

</mat-drawer-container>